@charset "ISO-8859-1";

.inputForm-left {
	float: left;
	border: 2px solid black;
	border-radius: 10px;
	color: black;
	background: powderblue;
	width: 25%;
	height: 20%;
	margin-left: 2%;
	margin-top: 25%;
	padding: 10px;
}

.inputForm-right2 {
	border: 2px solid black;
	float: right;
	border-radius: 10px;
	color: black;
	background: powderblue;
	width: 25%;
	height: 20%;
	margin-top: 15px;
	padding: 10px;
}

.inputForm-right {
	border: 2px solid black;
	border-radius: 10px;
	color: black;
	background: powderblue;
	width: 25%;
	height: 20%;
	margin-left: 73%;
	margin-top: 15px;
	padding: 10px;
	display: none;
}


.startButton {
	margin-top: 30px;
	margin-left: 85%;
	background: #d9b800;
	color: black;
	border: 1px solid black;
	border-radius: 7px;
	padding: 15px;
}

.parkChoice {
	border: 2px solid black;
	padding: 5px;
	background: white;
	border-radius: 10px;
	width: 75%;
}

.parkChoice1 {
	border: 2px solid black;
	padding: 5px;
	background: white;
	border-radius: 10px;
}

.card1 {
	margin-top: 2%;
	margin-left: 2%;
	border: 2px solid black;
	background: powderblue;
	color: black;
	padding: 15px;
	border-radius: 10px;
}

.confirmCube {
	border: 2px solid black;
	background: white;
	color: black;
	padding: 15px;
	width: 25%;
	margin-top: 3%;
	margin-left: 3%;
	border-radius: 10px;
}

.grayColor {
	background-color: gray;
	
}

.column {
  float: left;
  width: 33.33%;
}

.center {
  text-align: center;
  	margin-top: 2%;
	margin-left: 2%;
	border: 2px solid black;
	background: powderblue;
	color: black;
	padding: 15px;
	margin: 15px;
	border-radius: 10px;
}

.error{
	color: darkred;
}

.expensive{
	color: darkred;
}

body,td,th {
	font-family: Arial, Helvetica, sans-serif;
}

.expensive-div{
	color: darkred;
	border: 2px solid darkred;
}

div.relative {
  position: relative;
  width: 1200px;
  height: 800px;
  margin: 0 auto;
  background-image: url(images/watch-your-backpack-title-screen.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

div.background1 {
  position: relative;
  width: 1024px;
  height: 768px;
  margin: 0 auto;
  background-image: url(images/background-01.jpg);
  background-repeat: no-repeat;
  background-position: center;
  border-style: solid;
}

div.background2 {

  position: relative;
  width: 1024px;
  height: 768px; 
  margin: 0 auto;
  background-image: url(images/background-02.jpg);
  background-repeat: no-repeat;
  background-position: center;
  border-style: solid;
}

div.background3 {
  position: relative;
  width: 1024px;
  height: 768px;
  margin: 0 auto;
  background-image: url(images/background-03.jpg);
  background-repeat: no-repeat;
  background-position: center;
  border-style: solid;
}

div.background4 {
  position: relative;
  width: 1024px;
  height: 768px;
  margin: 0 auto;
  background-image: url(images/background-04.jpg);
  background-repeat: no-repeat;
  background-position: center;
  border-style: solid;
}

div.background5 {
  position: relative;
  width: 1024px;
  height: 768px;
  margin: 0 auto;
  background-image: url(images/background-05.jpg);
  background-repeat: no-repeat;
  background-position: center;
  border-style: solid;
}

div.left-short {
  position: absolute;
  background-color: #c8e4f9;
  top: 45%;
  left: 3%;
  width: 361px;
  height: 350px;
  padding: 10px;
  border-radius: 10px;
}

div.right-short {
  position: absolute;
  background-color: #c8e4f9;
  top: 45%;
  left: 62%;
  width: 361px;
  height: 350px;
  padding: 10px;
  border-radius: 10px;
}

div.absolute {
  position: absolute;
  top: 70%;
  left: 0;
  width: 100%;
  height: 100px;
}

div.left-space {
  position: absolute;
  background-color: #c8e4f9;
  top: 300px;
  left: 51px;
  width: 276px;
  height: 325px;
  padding: 10px;
  border-radius: 10px;
}

div.right-space {
  position: absolute;
  background-color: #c8e4f9;
  top: 300px;
  left: 685px;
  width: 276px;
  height: 325px;
  padding: 10px;
  border-radius: 10px;
}

div.right-space2 {
  position: absolute;
  background-color: #c8e4f9;
  top: 300px;
  left: 685px;
  width: 276px;
  height: 325px;
  padding: 10px;
  border-radius: 10px;
}

div.center-space {
  position: absolute;
  background-color: #c8e4f9;
  top: 300px;
  left: 373px;
  width: 276px;
  height: 325px;
  padding: 10px;
  border-radius: 10px;
}

div.left-space-tall {
  position: absolute;
  background-color: #c8e4f9;
  top: 186px;
  left: 51px;
  width: 15em;
  height: 450px;
  padding: 10px;
  border-radius: 10px;
}

div.right-space-tall {
  position: absolute;
  background-color: #c8e4f9;
  top: 186px;
  left: 695px;
  width: 276px;
  height: 450px;
  padding: 10px;
  border-radius: 10px;
}

div.center-space-tall {
  position: absolute;
  background-color: #c8e4f9;
  top: 186px;
  left: 300px;
  width: 370px;
  height: 450px;
  padding: 10px;
  border-radius: 10px;
}

div.left-space-tall-2up {
  position: absolute;
  background-color: #c8e4f9;
  top: 185px;
  left: 152px;
  width: 276px;
  height: 450px;
  padding: 10px;
  border-radius: 10px;
}

div.right-space-tall-2up {
  position: absolute;
  background-color: #c8e4f9;
  top: 185px;
  left: 574px;
  width: 276px;
  height: 450px;
  padding: 10px;
  border-radius: 10px;
}

div.right-space-tall-2upb {
  position: absolute;
  background-color: #c8e4f9;
  top: 165px;
  left: 615px;
  width: 350px;
  height: 450px;
  padding: 10px;
  border-radius: 10px;
}

div.top-space {
  position: absolute;
  background-color: #c8e4f9;
  top: 37px;
  left: 549px;
  width: 391px;
  height: 227px;
  padding: 10px;
  border-radius: 10px;
}

.column {
  float: left;
  width: 25%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

div.goldLine {
  width: 25%;
  height: 120%;
  background-color: #FFFFFF;
  opacity: 0.9;
  text-align: center;
  padding-top: 15px;
}

div.goldTeam {
  width: 25%;
  height: 120%;
  background-color: #FFFFFF;
  opacity: 0.9;
  text-align: center;
}

.lines {
border: .7px solid black;
width: 90%;
}

.center-title {
  position: absolute;
  top: 88%;
  left: 0;
  text-align: center;
  width: 100%;
  
}

