@charset "ISO-8859-1";

.inputForm-left {
	float: left;
	border: 2px solid black;
	border-radius: 10px;
	color: black;
	background: powderblue;
	width: 25%;
	height: 20%;
	margin-left: 2%;
	margin-top: 25%;
	padding: 10px;
}

.inputForm-right {
	border: 2px solid black;
	border-radius: 10px;
	color: black;
	background: powderblue;
	width: 25%;
	height: 20%;
	margin-left: 73%;
	margin-top: 15px;
	padding: 10px;
}

.startButton {
	margin-top: 30px;
	margin-left: 90%;
	background: #d9b800;
	color: black;
	border: 1px solid black;
	border-radius: 7px;
	padding: 15px;
}

.parkChoice {
	border: 2px solid black;
	padding: 5px;
	background: white;
	border-radius: 10px;
	margin-top: 5px;
}

.card1 {
	margin-top: 5%;
	margin-left: 2%;
	border: 2px solid black;
	background: powderblue;
	color: black;
	padding: 15px;
	border-radius: 10px;
	width: 25%;
}